<section>
  <div class="box-container-medium">
    <% unless @page.hide_name %>
    <h1>
      <%= @page.name %>
      <% if access(@page) %>
        <%= link_to "Delete", page_path(@page), class: "h1-button", data: { confirm: "Are you sure?" }, method: :delete %>
        <%= link_to "Edit", edit_page_path(@page), class: "h1-button" %>
        <%= link_to("Index", static_pages_path(@page), class: "h1-button") if @page.is_a?(StaticPage) %>
      <% end %>
    </h1>
    <% end %>
    <div class="markdown padded"><%= markdown(@page.contents).html_safe %></div>
  </div>
  <% if @folder && @folder.attachments.count > 0 && (!@page.hide_files || access(@page)) %>
  <div class="box-container-medium">
    <h1>
      Files<%= " [hidden]" if @page.hide_files %>
      <%= link_to("Upload New File", new_folder_attachment_path(@folder), class: "h1-button") if access(@page) %>
    </h1>
    <ul class="files">
      <%- @folder.attachments.by_name.each do |attachment| -%>
      <li class="attachment-item<%= " nopointer" if attachment.description.blank? %>"><%= render partial: 'attachments/attachment', locals: { attachment: attachment } %></li>
      <%- end -%>
    </ul>
  </div>
  <% end %>
</section>
<section id="sidebar">
  <% @page.photos.each do |photo| %>
  <div class="medium-side-photo">
    <a rel="static-photo-gallery" class="fancybox" href="<%= photo.photo.url(:original) %>" title="<%= photo.caption %>">
      <%= image_tag photo.photo.url(:small), alt: photo.caption %>
    </a>
  </div>
  <% end %>
  <% if @page.links.count > 0 %>
  <ul class="link-list">
    <li>Resources</li>
    <% @page.links.each do |link| %>
    <li><%= link_to link.name, link.url %></li>
    <% end %>
  </ul>
  <% end %>
</section>
