<div class="card">
  <h2 class="top" id="teaching-faculty">Teaching Faculty</h2>
  <div data-role="collapsible-set">
    <%- @department_pages.each do |department_page| -%>
      <div data-role="collapsible">
        <h3><%= department_page.name %></h3>
        <%= render partial: "staff_pages/staff_pages", object: department_page.staff_pages %>
      </div>
    <%- end -%>
  </div>
</div>

<div class="card">
  <h2 id="administrative-staff">Administrative Staff</h2>
  <div data-role="collapsible-set">
    <div data-role="collapsible">
      <h3>Administrators</h3>
      <%= render partial: "staff_pages/staff_pages", object: @administrators %>
    </div>
  </div>
</div>

<div class="card">
  <h2 id="counselors">Counseling Staff</h2>
  <div data-role="collapsible-set">
    <div data-role="collapsible">
      <h3>Counselors</h3>
      <%= render partial: "staff_pages/staff_pages", object: @counselors %>
    </div>
  </div>
</div>

<div class="card">
  <h2 id="support-staff">Support Staff</h2>
  <div data-role="collapsible-set">
    <div data-role="collapsible">
      <h3>Support Staff</h3>
      <%= render partial: "staff_pages/staff_pages", object: @support_staff %>
    </div>
  </div>
</div>
