<div data-role="content" class="white" data-theme="e">
  <div class="card-white">
    <% if current_user.try(:admin?) %>
      <h4 class="blue">Reset Password (as Admin)</h4>
    <% else %>
      <h4 class="blue">Reset Password</h4>
    <% end %>

    <%= form_for :email, url: reset_password_path, html: { class: "full-page" } do |f| %>
    <div class="field ui-hide-label" data-role="fieldcontain">
      <%= f.label :email, "BVSD Email" %>
      <%= f.text_field :email, class: "annotated email_autofill", value: params[:email], tabindex: 1, placeholder: "BVSD Email" %>
    </div>
    <% if current_user.try(:admin?) %>
    <div class="field">
      <%= f.label :recipient_email, "Recipient Email (optional)" %>
      <%= f.text_field :recipient_email, class: "annotated" %>
    </div>
    <% end %>
    <div id="submit-container" class="no-bg">
      <div class="submit"><%= f.submit "Reset", data: { disable_with: 'Resetting Password...' }, tabindex: 3 %></div>
    </div>
    <% end %>

    <div id="full-page-side-bar">
      <p class="instructions">Enter your sign-in email address here to have your password reset. We'll generate a new password and email it to the email address you provide.</p>
      <p class="instructions">Due to the recent BVSD email transition to Gmail, you need to activate your new account to receive emails. You will not be able to reset your password until your account is activated. <a href="/bvsd-gmail">Click here to learn how</a>.</p>
      <p class="instructions"><strong>For additional assistance, please <a href="/contact">contact the Web Team</a>.</strong></p>

      <div id="email_email_annotation" class="annotation overlap">
        <p>Your sign-in email should be your BVSD address for students and staff, and should be all lowercase. Student addresses should resemble<span>jadams1234@bvsd.org</span>and staff emails should resemble<span>abraham.lincoln@bvsd.org</span></p>
      </div>

      <div id="email_recipient_email_annotation" class="annotation overlap">
        <p>Enter an alternative email here to send the reset password. This feature should only be used if the user cannot receive emails at their BVSD email address.</p>
      </div>
    </div>
  </div>
</div>
