<div class="card">
  <h1><%= @calendar.name %></h1>
  <h3><%= link_to "Grid View", calendar_path(@events.new), class: "h1-button" %></h3>
  <% if @events.upcoming.count > 0 %>
    <%= render partial: "events/upcoming_list", locals: { events: @events } %>
  <% else %>
    <div class="empty-container">
      <%= image_tag "icon-calendar.png", alt: "", class: "class_page_overview_icon" %>
      <% if @calendar_access %>
      <p><%= @events.count == 0 ? "You have not created any events yet." : "There are no upcoming events." %></p>
      <% else %>
      <p>The <%= @calendar.name.downcase %> doesn't have any <%= @events.count == 0 ? "events yet" : "upcoming events" %>.</p>
      <% end %>
    </div>
  <% end %>

  <% if @events.past.count > 0 %>
  <div class="box-container-large">
    <h3>Past Events</h3>
    <%= render partial: "events/past_list", locals: { events: @events } %>
  </div>
  <% end %>
</div>
