<!DOCTYPE html>
<html>

<%= render "layouts/head" %>

<body>
  <div data-role="page" data-theme="d">
    <%= render "layouts/navigation_panel" %>
    <%= render "layouts/notification_panel" %>
    <%= render "layouts/header" %>
    <div data-role="content" class="content">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

</body>
</html>
